<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>

<body>
    <main class="main">

        
        <form method="post" class="form">
            <h1 class="head">Register Now</h1>
            
            <li class="wrapper">
                <input type="text" placeholder="Name" class="input" name="name">
            </li>

            <li class="wrapper">
                <input type="email" placeholder="Email" class="input" name="email">
            </li>

            <li class="wrapper">
                <input type="password" placeholder="Password" class="input" name="password">
            </li>

            <li class="wrapper">
                <button type="submit" class="btn">Sign Up</button>
            </li>

        </form>

    </main>
</body>

</html>